# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.log

# Virtual Environment
.venv/
env/
venv/
ENV/
.venv.bak/
*.env

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# Byte-compiled / optimized / DLL files
*.so
*.dll
*.dylib
*.egg
*.egg-info/

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
.cache
.pytest_cache/

# FastAPI specific
*.db
*.sqlite3
